block variables
    -
        var title = 'Base шаблон';
        var url = "/"
        var data = {
            menu: require('../../data/menu').default,
        };

include ../../components/header/index

doctype html
html(lang="ru-RU").no-js

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0,width=device-width")
        title=title

        script.
            (function (H) {
                H.className = H.className.replace(/\bno-js\b/, 'js')
            })(document.documentElement)

    body#section-top.p-base
        block header
                +header({
                    menu: data.menu,
                    url,
                })(class='p-base__header')
        block body
            div Основное содержимое базового шаблона
