extends ../../templates/base/index


append variables
    -
        var title = "Главная страница";
        var url = "index.html";
        var indexData = require('../../data/index');
        data = Object.assign(data, indexData.default);

include ../../components/_index/index-hero/index
include ../../components/_index/index-history/index
block body
    +indexHero()(class='p-index__hero')
    +indexHistory({
        img: data.index.history.img
    })(class='p-index__history')
